body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "font1", sans-serif;
  font-size: 1.3rem;
  background-color: black;
  color: rgb(255, 243, 234);
  display: flex;
  flex-direction: column;
  overflow: visible;
}

#title {
  font-size: 2.5rem;
  text-align: center;
  color: rgb(196, 195, 195);
}

#container {
  background-color: rgba(17, 0, 0, 0.1);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#newsImgContainer {
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: -99;
  position: absolute;
  top: 0;
  left: 0;
}

#newsImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
}

#newsletterForm {
  text-align: center;
  width: 50%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2%;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  margin: 3% auto;
  margin-bottom: 0;
}

.newsletter-text-bar {
  width: 90%;
  padding: 1rem;
  margin: 1.5rem 0;
  border: none;
  font-size: 1rem;
  background: none;
  border-bottom: 2px solid rgb(255, 217, 156);
  color: rgb(255, 243, 234);
  text-align: center;
}

::placeholder {
  color: rgb(255, 243, 234);
  opacity: 0.7;
  font-family: "font1", sans-serif;
}

#submit {
  width: 50%;
  padding: 1rem;
  margin: 1.5rem 0;
  border: none;
  font-family: "font1", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  background-color: rgb(48, 47, 47);
  color: rgb(255, 217, 156);
  cursor: pointer;
  transition: 0.15s;
}

#submit:hover {
  background-color: rgb(255, 217, 156);
  color: black;
  transform: scale(1.05);
}

#back {
  display: block;
  margin: 5% auto 5% 5%;
  color: white;
  text-decoration: none;
  text-align: left;
  font-weight: bold;
  font-size: larger;
  transition: 0.15s;
}

#back:hover {
  text-shadow: -1px -1px 0 #999, -1px -1px 0 #999, 1px 1px 0 #999,
    1px 1px 0 #999, 0px 0px 5px #999;
  transform: scale(1.1);
}

#icons {
  display: none;
}

.icon:hover {
  transform: scale(1.2);
  transition: 0.1s;
}

.icon {
  width: 3rem;
}

#ig:hover {
  filter: drop-shadow(1px 1px 15px #53e968) drop-shadow(1px 1px 10px #29d640);
}

#yt:hover {
  filter: drop-shadow(1px 1px 15px #4becf1) drop-shadow(1px 1px 10px #33e3e9);
}

#dc:hover {
  filter: drop-shadow(1px 1px 15px #63a14b) drop-shadow(1px 1px 10px #728969);
}

#sp:hover {
  filter: drop-shadow(1px 1px 15px #f547dd) drop-shadow(1px 1px 10px #fc30e1);
}

#am:hover {
  filter: drop-shadow(1px 1px 15px #52fbe2) drop-shadow(1px 1px 10px #6afbe6);
}

#tt:hover {
  filter: drop-shadow(1px 1px 15px #fe3e42) drop-shadow(1px 1px 10px #fa2f32);
}

@media (max-width: 700px) {
  body {
    font-size: 1.2rem;
  }

  #newsletterForm {
    width: 90%;
    padding: 0 5%;
    border-radius: 0;
  }

  #title {
    font-size: 2rem;
  }

  #container {
    display: block;
  }

  #back {
    position: absolute;
    top: 2%;
    left: 5%;
    z-index: 3;
  }

  #gradient {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
    height: 50%;
    width: 100%;
    margin-bottom: -4%;
  }

  #newsImgContainer {
    height: 50vh;
    width: 100%;
  }
}
